<div class="container text-center mt-5 mb-3 nombreYFoto">
    <div class="row d-flex justify-content-start align-items-center">
      <div class="col-3 sizeImg">
        <img src="../../assets/imagenes/fotoMiaCuadrada.jpg" height="170"/>
      </div>
      <div class="col d-flex justify-content-start">
        <h1 class="nombre">Lucia Sarmiento</h1>
      </div>
    </div>
</div>

  <p>Mi nombre es Lucia Sarmiento, vivo en James Craik, Cordoba, Argentina. Me interese en el mundo de la programacion porque me gustaria crear aplicaciones y paginas
    como las que tanto uso.</p>
  <p>Actualmente, estoy estudiando Ingenieria en Software y realizando el curso de Argentina Programa.</p>
