<div>
    <h2 class="titulo">Mis habilidades</h2>
    <div class="container text-center mb-3">
      <div class="row">
        <div class="col">
          <img src="../../assets/imagenes/logo-java.png" class="logos">
          <img src="../../assets/imagenes/2.png" class="imagenes-habilidades">
        </div>
        <div class="col">
          <img src="../../assets/imagenes/logo-JavaScript.png" class="logos">
          <img src="../../assets/imagenes/3.png" class="imagenes-habilidades">
        </div>
        <div class="col">
          <img src="../../assets/imagenes/logo-c++.png" style="height: 170px;">
          <img src="../../assets/imagenes/5.png" class="imagenes-habilidades">
        </div>
        <div class="col">
          <img src="../../assets/imagenes/logo-git.png" class="logos">
          <img src="../../assets/imagenes/5.png" class="imagenes-habilidades">
        </div>
      </div>
    </div>
</div>